@namespace OneLine.Blazor
@inherits TranslatorComponentModel

<BSBasicInput T="string" id="translator" name="translator" InputType="InputType.Select" ValueChanged=@((v) => OnValueChanged(v)) Value="ApplicationLocale">
    @foreach (var culture in SupportedCultures.Cultures ?? Enumerable.Empty<System.Globalization.CultureInfo>())
    {
        if (culture.Name.Equals(ApplicationLocale))
        {
            <option value="@culture.Name" selected>@culture.EnglishName</option>
        }
        else
        {
            <option value="@culture.Name">@culture.EnglishName</option>
        }
    }
</BSBasicInput>