@namespace OneLine.Blazor
@inherits TranslatorComponentModel

<BSBasicInput T="string" id="translator" name="translator" InputType="InputType.Select" ValueChanged=@((v) => OnValueChanged(v)) Value="ApplicationLocale">
    @foreach (var culture in LanguageLocalizerSupportedCultures.GetLanguageLocalizerSupportedCultures().SupportedCultures)
    {
        if (culture.Name == ApplicationLocale)
        {
            <option value="@culture.Name" selected>@culture.CultureInfo.EnglishName</option>
        }
        else
        {
            <option value="@culture.Name">@culture.CultureInfo.EnglishName</option>
        }
    }
</BSBasicInput>