@page "/"
@inherits IndexBase

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<BSFormGroup>
    <BSLabel>Evidences</BSLabel>
    <br class="p-0" />
    <OneLine.Blazor.Components.FileInput InputName="TestInputName" @bind-BlobDatas=@BlobDatas IsMultiple=true/>
</BSFormGroup>
<br />
<button class="btn btn-primary" @onclick=test>Read File</button>

@code {
    void test()
    {
        foreach (var BlobData in BlobDatas)
        {
            Console.WriteLine(Newtonsoft.Json.JsonConvert.SerializeObject(new { BlobData.InputName, BlobData.LastModified, BlobData.Name, BlobData.Size, BlobData.Type } ));
        }
    }
}